

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* first-section */
.first-section{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    padding: 80px  100px;
    border-radius: 24px;
}

.heading{
    font-weight: 600;
    font-size: 56px;
}
.text{
    color: #0E0E0E;
}

.but{
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    padding: 18px 12px ;
    border: none;
}

.first-img{
    height: 400px;
    width: 400px;
}

/* The Vision of Future */
.vesion{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.Transformation{
    background-color: #D5D6D8;
    border-radius: 16px;
}

.but-1{
    background-color: #5490F5;
    border-radius: 8px;
    color: white;
    padding: 18px 12px ;
    border: none;
}

.Green-Energy{
    background-color: #C6E4D6;
    border-radius: 16px;
}

.dut-2{
    background-color: #09A15C;
    border-radius: 8px;
    color: white;
    padding: 18px 12px ;
    border: none;
}

.Infrastructure{
    background-color: #FFD55D;
    border-radius: 16px;
    
}

.but-3{
    background-color: #FFC239;
    border-radius: 8px;
    color: white;
    padding: 18px 12px ;
    border: none;
}

#div-model{
    padding: 32px 32px 32px 32px;
}

.foot{
    background-color: #FFFFFF;
    padding: 25px 20px 25px 20px;
}

.pra{
    /* position: absolute;
    top: 0px;
    left: 0px;
    z-index: -5; */
   
}

/* main */

.bangladesh{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border-radius: 24px;
    padding: 48px 48px 48px 48px;
}

.bng-img{
    border-radius: 24px;
}

.rear-more{
    background-color: #006A50;
    color: white;
    padding: 13px 26px 13px 26px;
   border-radius: 8px;
}
.span-div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-span{
    
    font-size: 16px;
}

.bangladesh-2{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border-radius: 24px;
    padding: 48px 48px 48px 48px;
}

/* footer */

.mother-hp{
    text-align: center;
}

.mother-div{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.div-text{
    background-color: #FFFFFF;
    border: 2px solid #0E0E0E;
    border-radius: 16px;
    padding: 40px 40px 40px 40px;
    font-weight: bold;
    font-size: 40px;

}

#chang-color{
    background-color: #C6E4D6;
}

.but-type{
    display: flex;
    justify-content: center;
}
.done{
    display: block;
}